<div id="left-menu">
	<ul>
		<li *ngFor="let epci of epcis">
			<a class='text-muted nav-link' href="#"><span>{{ epci}}</span></a>

		</li>
	</ul>
</div>
<div class="main">
	<h2>chercher des elus</h2>
	<div class="card">
	  <div class="input-wrap">
		<img src="../assets/Group%201.png" width="18px" class="search">
		<input type="search" [(ngModel)] = fullName placeholder="chercher un elusÒ">
	  </div>
	  <div *ngFor="let elus of listElus | FilterPipe: fullName" class="city" >
		{{elus}}
	  </div>
	</div>
  </div>
